<footer>
    <div class="tarjetas">
        <div class="">
            <article class="">
                <i class=""></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p class="inFooter">Con Lemon Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
        </div>
        <div class="">
            <article class="">
                <i class=""></i>
                <h2>Envío gratis desde $ 1.999</h2>
                <p class="inFooter">Solo por estar registrado en Sancho's Library tenés envíos gratis en miles de productos. Es un
                    beneficio de Sancho'<s></s> Puntos.</p>
            </article>
        </div>
        <div class="">
            <article class="">
                <i class=""></i>
                <h2>Seguridad, de principio a fin</h2>
                <p class="inFooter">¿No te gusta? ¡Devolvelo! En Sancho's Library, no hay nada que no puedas hacer, porque estás
                    siempre protegido.</p>
            </article>
        </div>
    </div>
    <h2> Juan Schmunk | Martiniano Sanchez | Roberto Arellano </h2>
</footer>