<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../../public/images/logo.png" />
	<title> LuxWorld</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="../../public/stylesheet/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/stylesheet/app.css">
	<title> SANCHO'S LIBRERY</title>
</head>