
    <div class="">
        <h1>SANCHOS' LIBRERY</h1> 
      <div class="" id="">
        <ul class="">
          <li class="">
            <a class="" aria-current="page" href="/usuario/login">INGRESAR</a>
          </li>
          <li class="">
            <a class="" href="/usuario/register">REGISTRATE</a>
          </li>
          <li>
              <a href="/">TODOS LOS PRODUCTOS</a>
          </li>        
        </ul>
        <form class="" action="/productos/search-results">
          <input class="" type="search" placeholder="Buscar productos marcas y más.." aria-label="Search">
          <button class="" type="submit">Search</button>
        </form>
      </div>
    </div>
  