
    <div class="flexDeNavegador">
        <h1>SANCHOS' LIBRERY</h1> 
      <div class="flexDeNavegadorHijo" id="">
        <ul class="linksDeNav" type="none">
          <li class="">
            <a class="linksDeNav" aria-current="page" href="/usuario/login">INGRESAR</a>
          </li>
          <li class="">
            <a class="linksDeNav" href="/usuario/register">REGISTRATE</a>
          </li>
          <li>
              <a class="linksDeNav" href="/">TODOS LOS PRODUCTOS</a>
          </li>        
        </ul>
        <form class="" action="/productos/search-results">
          <input class="" type="search" placeholder="Buscar productos marcas y más.." aria-label="Search">
          <button class="" type="submit">Search</button>
        </form>
      </div>
    </div>
  