<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

    <body>
        <nav>
            <%- include('partials/navBar')%>
        </nav>
        <h2 class="centrado">INICIO DEL SITIO</h2>
    
            <section class="primerasection" >
                
                    <% for(let i=1; i<10; i+=2){ %>
                        <article class="segundaSectionInicio" >
                        <h3 class=tituoloLibro >
                            
                        </h3>
                        <a href="/productos">
                        <img class="imagen" src="" alt="">
                        </a>
                        <h4>Lanzamiento: 
                        </h4>
                    </article>
                        <%}%>
                
            </section>
        <div class="centrado">
            <%- include('partials/footer')%>
         </div>
    </body>

</html>