<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

</html>

<body>
  <nav>
    <%- include('partials/navBar')%>
  </nav>

  <h2>INGRESÁ TU USUARIO</h2>


  <section class="formulario">

    <form action="/usuario" method="get" class="formularioPrincpal">
      <div class="cajaFormulario">
        <label for="exampleInputEmail1" class="label">Email</label>
        <input type="email" class="" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="" class="label">Nunca compartiremos tu información personal</div>
      </div>
      <div class="cajaFormulario">
        <label for="exampleInputPassword1" class="label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="cajaFormulario">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="label" for="">Recuérdame</label>
      </div>
      <div class="cajaFormulario" >
        <button type="submit" class="label2">INICIAR SESIÓN</button>
      </div>
    </form>

  </section>



</body>

</html>