<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	
	<nav>
		<%- include('partials/navBar')%>
	</nav>
	<section class="formulario">

		<form action="/productos" method="POST" enctype="multipart/form-data" class="formularioPrincpal">
		  <div class="cajaFormulario">
			<label for="exampleInputPassword1" class="label">Nombre del producto</label>
			<input type="text" class="" id="exampleInputPassword1" >
		  </div>
		  <div class="cajaFormulario">
			<label for="exampleInputPassword1" class="label">Descripción breve del producto</label>
			<input type="text" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="cajaFormulario">
			<label for="exampleInputPassword1" class="label">Año de Lanzamiento</label>
			<input type="text" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="cajaFormulario">
			<label class="label" for="">Imágen</label>
			<input type="file" name="imageProduct" class="form-check-input" id="exampleCheck1">
		  </div>
		  <div class="cajaFormulario" >
			<button type="submit" class="label2">Cargar Producto</button>
		  </div>
		</form>
	
	  </section>

		<div class="centrado">
			<%- include('partials/footer')%>
		</div>

</body>

</html>