<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

	<%- include('partials/navBar') %>
	
	<h2>Todos Los Productos</h2>

		<article class="segundaSection" >
	
		<img class="imagen" src="../public/images/logo.png " alt="">
		<h4>Lanzamiento:
		</h4>
		</article>


	
</body>	
</html>