<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

	<nav>
		<%- include('partials/navBar')%>
	</nav>
	
	<h2>Todos Los Productos</h2>

	<section class="primerasection" >
            
	
	
	</section>

	
</body>	
</html>