<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

    <body>
        <nav>
            <%- include('partials/navBar')%>
        </nav>




        <h2 class="tituloForm">REGISTRATE:</h2>
        <h3 class="tituloForm">Es rápido y fácil.
        </h3>
        <section class="formulario">
            <form action="/usuario" method="POST" enctype="multipart/form-data" class="formularioPrincpal">

                <div class="cajaFormulario">
                    <label for="exampleInputEmail1" class="label">Correo Electrónico:</label>
                    <input type="email" class=""placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="letrasBold">Nunca compartiremos su correo electrónico con nadie más.</div>
                </div>
                <div class="cajaFormulario">
                    <label for="exampleInputPassword1" class="label">Contraseña:</label>
                    <input type="password" placeholder="clave" class="" id="exampleInputPassword1">
                </div>
                <div class="cajaFormulario">
                    <label for="exampleInputPassword1" class="label">Confirmar Contraseña:</label>
                    <input type="password" class="" placeholder="clave" id="exampleInputPassword1">
                    <div id="emailHelp" class="letrasBold">Nunca compartiremos su contraseña con nadie más.</div>
                </div>
                <div class="cajaFormulario">
                    <label for="exampleInputPassword1" class="label">Nombre:</label>
                    <input type="text" class="" placeholder="nombre"id="exampleInputPassword1">
                </div>
                <div class="cajaFormulario">
                    <label for="exampleInputPassword1" class="label">Apellido:</label>
                    <input type="text" class="" placeholder="apellido" id="exampleInputPassword1">
                </div>
                <div class="cajaFormulario">
                    <label for="exampleInputPassword1" class="label">Usuario:</label>
                    <input type="text" class=""  placeholder="username" id="exampleInputPassword1">
                </div>
                
                <div class="cajaFormulario">
                    <label for="exampleInputIdNumber" class="label">Fecha de Nacimiento:</label>
                    <input type="date" class="" placeholder="fecha_de_nacimiento" id="exampleInputDate">
                </div>
    
                <div class="cajaFormulario">
                    <label for="exampleInputIdNumber" class="label"> Foto de Perfil:</label>
                     <input type="file" placeholder="file" name="profilePhoto">
                </div>

                <button type="submit" class="">Crear</button>
            </form>
        </section>
    </body>
    <div class="centrado">
        <%- include('partials/footer')%>
     </div>

</html>