<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <nav>
            <%- include('partials/navBar')%>
        </nav>

        <h2>Resultados de busqueda</h2>

        <% for(let i=0; i<libros.titulo.lenght i++){%>
            <p>
                Titulo: <%= libros.titulo %> 
            </p>

            <% } %>





                <div class="centrado">
                    <%- include('partials/footer')%>
                </div>
    </body>

</html>