<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <nav>
            <%- include('partials/navBar')%>
        </nav>

        <h2>Resultados de busqueda</h2>


        <section class="primerasection">
            <% for ( let=i; i<libros.lenght; i++) { %>
                <article class="segundaSectionInicio">
                <h3 class=tituoloLibro>

                </h3>
                <a href="/productos">
                    <img class="imagen" src="" alt="">
                </a>
                <h4>Lanzamiento: <%= libros[i].titulo %>
                </h4>
                </article>
                <% } %>
        </section>





        <div class="centrado">
            <%- include('partials/footer')%>
        </div>
    </body>

</html>