/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {

  background-color: snow;

}

/*CSS para Nav*/

.flexDeNavegador {
  background-color: #3cae3c;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 10px;

}
.flexDeNavegadorHijo {

display: flex;
align-items: center;

}

.linksDeNav{
  display: flex;
  justify-content: space-around;
}
.linksDeNav {
  margin: 7px;
  color: snow;

  
}










/* CSS de Login */

.palabraMail {

  color: red;

}

.formularioDeInicio {

  display: flex;
  justify-content: center;

}