/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {

  background-color: snow;

}

/*CSS para Nav*/

.flexDeNavegador {
  background-color: #3cae3c;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 10px;

}

.flexDeNavegadorHijo {

  display: flex;
  align-items: center;

}

.linksDeNav {
  display: flex;
  justify-content: space-around;
}

.linksDeNav {
  margin: 7px;
  color: snow;


}










/* CSS de Login */

.formulario{
display: flex;
justify-content: center;
padding:20px;
align-items: center;


}

.formularioPrincpal {
background-color: rgb(110, 110, 110);
padding: 50px;


}



.cajaFormulario{
margin: 20px;

}

.label{
font-size: 20px;
color: white;

}

.label2 {
  font-size: 20px;
  color: black;
  background-color: white;

}



/*css del index*/
.imagen {
  width: auto;
  height: auto;
  width: 250px;
  height: 350px;
  margin: 10px;

}

.primerasection{
  display: flex;
 
  
}

.tituoloLibro{

text-align: center;

}



