/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {

  background-color: snow;

}

/*CSS para Nav*/

.flexDeNavegador {
  background-color: #3cae3c;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;

}

.flexDeNavegadorHijo {

  display: flex;
  align-items: center;

}

.linksDeNav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 19px;
 

}

.linksDeNav {
  margin: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  


}

.linksDeNav1{
  margin: 5px;
  color: black;
  display: flex;


}

.logoPagina{
font-size: 30px;
margin: 20px;

}

.letrasLogo{
  text-decoration: none;
  color: black;
}

.logoUsuario{
display: flex;
text-decoration: none;
color: black;

}












/* CSS de Login */

.formulario{
display: flex;
justify-content: center;
padding:20px;
align-items: center;


}

.formularioPrincpal {
background-color: rgb(110, 110, 110);
padding: 50px;


}



.cajaFormulario{
margin: 20px;

}

.label{
font-size: 20px;
color: white;

}

.label2 {
  font-size: 20px;
  color: black;
  background-color: white;

}



/*css del index*/
.imagen {
  width: auto;
  height: auto;
  width: 250px;
  height: 350px;
  margin: 10px;

}

.primerasection{
  display: flex;
  align-items: center;
 
  
}
.segundaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(197, 196, 196);
  margin: 10px;
}
.tituoloLibro{

text-align: center;

}

/*CSS Index Logeado*/

.secPadre{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
}

.secHijo{
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  align-items: center;
  margin: 30px;
  
}

/* CSS de Register */

.formulario{
  display: flex;
  justify-content: center;
  padding:20px;
  align-items: center;
  
  
  }
  
  .formularioPrincpal {
  background-color: rgb(110, 110, 110);
  padding: 50px;
  
  
  }
  
  
  
  .cajaFormulario{
  margin: 20px;
  
  }
  
  .label{
  font-size: 20px;
  color: white;
  
  }
  
  .label2 {
    font-size: 20px;
    color: black;
    background-color: white;
  
  }

.tituloForm{
  text-align: center;
}

.letrasBold{
  font-weight: bold;
}

/* CSS de Profile */

.imgProfile{
  border-radius: 50%;
}


